  
  .tag-list-container {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 50px;

  }

.nes-badge,
.nes-badge:hover {
  width: auto;
  text-decoration: none;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nes-badge span.is-warning:first-child {
  position: relative;
  padding: 5px;
  color: #000;
}

.nes-badge:hover span.is-warning {
  color: #000;
}
