---
import "./CatAnimate.css";
---

<!-- octocat -->
<div class="cat-animate">
  <i class="nes-octocat animate"></i>
  <!-- Balloon -->
  <div class="nes-balloon from-right is-dark">
    <p>Good morning. Thou hast had a good night's sleep, I hope.</p>
  </div>
  <i class="nes-bcrikko"></i>
 
</div>

