---
import "./Navigation.css";
---

<nav>
  <ul class="nav-links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/tags/">Categorias</a></li>
    <li><a href="/about/">Sobre mí</a></li>
  </ul>
</nav>
