.icon-list {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.footer-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s; /* Transición de color durante 0.3 segundos */
}

.footer-icons a:hover {
  color: #ffcc00; /* Cambia el color al hacer hover */
}

.footer-icons i {
  font-size: 24px;
}


.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal p {
  margin: 0;
}
